<section class="well">
  <h2 class="ra-well-title">{{$ctrl.title}}</h2>
  <div class="form-horizontal form-widgets col-md-12">
    <div class="form-group">
      <label class="control-label col-md-2" for="">Vendedor</label>
      <div class="col-md-6">
        <select kendo-combo-box="$ctrl.vendedor" k-options="$ctrl.vendedorOpt" k-ng-model="$ctrl.modelo.VendedorId" style="width: 100%"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="name">Periodo</label>
      <div class="col-md-3"><input class="form-control" ng-model="$ctrl.modelo.Periodo"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Importe</label>
        <div class="col-md-3"><input class="form-control" ng-model="$ctrl.modelo.Importe"></div>
    </div>
  </div>
  <div class="buttons-wrap">
    <button class="k-button k-state-default" ng-click="$ctrl.grabar()" >Guardar</button>
    <button class="k-button k-state-default" ng-click="$ctrl.cancelar()" >Cancelar</button>
  </div>            
</section>
