<div class="row">
  <div class="col-md-1">
    <label>Vendedor</label>
  </div>
  <div class="col-md-3">
    <select kendo-combo-box="$ctrl.vendedor" k-options="$ctrl.vendedorOpt" k-ng-model="$ctrl.vendedorId" style="width: 100%"></select>
  </div>
  <div class="col-md-1">
    <label>Periodo</label>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" ng-model="$ctrl.periodo">
  </div>
  <div class="col-md-2">
    <a class="btn btn-success" ng-click="$ctrl.buscar()" >Buscar</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Vendedor</th>
      <th>Periodo</th>
      <th>Importe</th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat="item in $ctrl.objetivos">
    <td>{{item.Vendedor.Nombre}}</td>
    <td>{{item.Periodo}}</td>
    <td>{{item.Importe | currency}}</td>
    <td>
      <a class="btn btn-primary" ng-click="$ctrl.editar(item.Id)" ng-show="item.PuedeEditar" >Editar</a>
      <a class="btn btn-primary" ng-click="$ctrl.borrar(item.Id)" ng-show="item.PuedeBorrar" >Borrar</a>
    </td>
  </tr>
</table>
