<div class="row">
    <label class="control-label col-md-1" for="">Fecha </label>
    <div class="col-md-2">
        <input kendo-date-picker k-ng-model="$ctrl.desde" k-format="'dd/MM/yyyy'" style="width: 100%;" />
    </div>
    <div class="col-md-2">
        <input kendo-date-picker k-ng-model="$ctrl.hasta" k-format="'dd/MM/yyyy'" style="width: 100%;" />
    </div>
    <div class="col-md-2">
        <button type="button" ng-click="$ctrl.consultar()" class="btn btn-large btn-block btn-success">Consultar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Importe</th>
                    <th>Objetivo</th>
                </tr>
            </thead>
            <tr ng-repeat="item in $ctrl.model.ventas">
                <td>{{item.Fecha}}</td>
                <td>{{item.Importe | currency:"$"}}</td>
                <td>0 %</td>
            </tr>
        </table>
    </div>
    <div class="col-md-7">
        <nvd3 options="$ctrl.options" data="$ctrl.data"></nvd3>
        <nvd3 options="$ctrl.options2" data="$ctrl.data2"></nvd3>
    </div>
</div>
