<div class="row">
    <label class="control-label col-md-1" for="">Fecha </label>
    <div class="col-md-2">
        <input kendo-date-picker k-ng-model="$ctrl.desde" k-format="'dd/MM/yyyy'" style="width: 100%;" />
    </div>
    <div class="col-md-2">
        <input kendo-date-picker k-ng-model="$ctrl.hasta" k-format="'dd/MM/yyyy'" style="width: 100%;" />
    </div>
    <div class="col-md-2">
        <button type="button" ng-click="$ctrl.consultar()" class="btn btn-large btn-block btn-success">Consultar</button>
    </div>
</div>
<div class="row">
    <div class="control" style="min-height: 680px !important;">
        <div id="container" ej-reportviewer="ej-reportviewer" e-reportserviceurl="$ctrl.reportServiceUrl" e-processingmode="$ctrl.processingMode" e-reportpath="$ctrl.reportPath" style="height:680px"></div>
    </div>
</div>
