﻿        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
              </div>
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
              </div>
            </div>
            <p class="navbar-text navbar-right">Nombre {{$ctrl.nombre}} &nbsp;&nbsp;<BR>Codigo {{$ctrl.codigo}}</p>
            <div class="meta">
              <div class="page">
                {{$ctrl.title}}
              </div>
              <div class="breadcrumb-links">
                {{$ctrl.path}}
              </div>
            </div>
          </div>
        </div>
