    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="$ctrl.toggle()">
            {{$ctrl.empresa}}
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Clientes</span></li>
        <li class="sidebar-list">
          <a ng-link="['ClienteCuentaCorrienteConsulta']">Cuenta Corriente <span class="menu-icon fa fa-money"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ClienteReporteVentaDiaria']">prueba <span class="menu-icon fa fa-money"></span></a>
        </li>
        <li class="sidebar-title"><span>Pedidos</span></li>
        <li class="sidebar-list">
          <a ng-link="['ClientePedidoNuevo',{id: 0}]">Nuevo <span class="menu-icon fa fa-plus"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ClientePedidoConsulta']">Consulta <span class="menu-icon fa fa-search"></span></a>
        </li>
        <li class="sidebar-title"><span>Objetivo Venta</span></li>
        <li class="sidebar-list">
          <a ng-link="['ObjetivoVentaNuevo',{id: 0}]">Nuevo <span class="menu-icon fa fa-plus"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ObjetivoVentaLista']">Lista <span class="menu-icon fa fa-search"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ObjetivoVentaReporte']">Reporte <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-title"><span>Reportes Ventas</span></li>
        <li class="sidebar-list">
          <a ng-link="['ClienteReportePorVendedor']">Por vendedor <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ClienteReportePorVendedorCliente']">Por vend. y cli. <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ClienteReportePorProducto']">Por producto <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-link="['ClienteReportePorVendedorClienteProducto']">Por ven-pro-cli <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-title"><span>RRHH</span></li>
        <li class="sidebar-list">
          <a ng-link="['RRHHComision']">Comisiones <span class="menu-icon fa fa-book"></span></a>
        </li>
        <li class="sidebar-title"><span>Configuracion</span></li>
        <li class="sidebar-list">
          <a>Bonificaciones <span class="menu-icon fa fa-cog"></span></a>
        </li>
        <li class="sidebar-list">
          <a ng-click="$ctrl.logout()">Ingreso <span class="menu-icon fa fa-unlock-alt"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
