<section>
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Autorizacion</h3>
    </div>        
    <div class="panel-body">
        <h2 class="ra-well-title"></h2>
        <div class="form-horizontal form-widgets col-md-6">
            <div class="form-group">
                <label class="control-label col-md-1" for="">Numero</label>
                <div class="col-md-6">
                    {{$ctrl.pedido.Sucursal}}-{{$ctrl.pedido.Numero}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="name">Cliente</label>
                <div class="col-md-11">
                    {{$ctrl.pedido.Cliente.Nombre}}
                </div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-md-6">
            <div class="form-group">
                <label class="control-label col-md-1" for="">Fecha</label>
                <div class="col-md-5">
                    {{$ctrl.pedido.Fecha}}
                </div>
            </div>
        </div>
        <div class="form-horizontal form-widgets col-md-12">
            <div class="form-group">
                <label class="control-label col-md-1" for="">Observacion</label>
                <div class="col-md-11">
                    <input type="text" class="form-control" style="width: 100%;" />
                </div>
            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th width="40%">Producto</th>
                    <th width="10%">Pedido</th>
                    <th width="10%">Bonif. %</th>
                    <th>Cantidad</th>
                    <th>Bonif. U</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="item in $ctrl.pedido.Detalle track by item.Id">
                <td>{{item.Producto.Nombre}}</td>
                <td><input type="text" class="form-control" ng-model="item.Cantidad" ng-model-options="{ getterSetter: true }"></td>
                <td><input type="text" class="form-control" ng-model="item.Bonificacion" ng-model-options="{ getterSetter: true }"></td>
                <td>{{item.CantidadCargo}}</td>
                <td>{{item.CantidadBonificada}}</td>
                <td>{{item.Precio|currency}}</td>
                <td>{{item.Precio*item.CantidadCargo|currency}}</td>
                <th><a class="btn btn-warning" ng-click="$ctrl.eliminar(item)">Eliminar</a></th>
            </tr>
        </table>
        <div class="form-horizontal form-widgets col-md-12">
            <div class="form-group pull-right">
                <a class="btn btn-success">Autorizar</a>
                <a class="btn btn-warning" ng-link="['ClientePedidoAutorizacion']">Cancelar</a>
            </div>            
        </div>            
    </div>
</div>
</section>
